<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ajutadores.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
				<key>dateExpires</key>
				<string>11/04/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SharkORM.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftySignature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8JZ4ML6Z8H.com.ordenadores.ajustadores</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8JZ4ML6Z8H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Ajutadores.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b59e65ea-3aac-444b-a922-0afff4808faf</string>
				<key>dateExpires</key>
				<string>12/04/24</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.ordenadores.ajustadores</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8JZ4ML6Z8H</string>
				<key>name</key>
				<string>Seguros Universales, S.A.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.8.2</string>
		</dict>
	</array>
</dict>
</plist>
