<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ajustadores.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C945913848908E611007879F1BD37904FB0B796E</string>
				<key>dateExpires</key>
				<string>5/06/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyPermissionX.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Try.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>apple_maps_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_easy_permission.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor_ns.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>speech_to_text.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C945913848908E611007879F1BD37904FB0B796E</string>
						<key>dateExpires</key>
						<string>5/06/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8JZ4ML6Z8H.com.ordenadores.ajustadores.prueba</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8JZ4ML6Z8H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2ab262e0-459d-4922-8cc0-fb3efaeb3236</string>
				<key>dateExpires</key>
				<string>6/06/24</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.ordenadores.ajustadores.prueba</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8JZ4ML6Z8H</string>
				<key>name</key>
				<string>Seguros Universales, S.A.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
