<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cheques.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
				<key>dateExpires</key>
				<string>11/04/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3912E670B88A96B1E5DFEC1A453BCEA62A023CA7</string>
						<key>dateExpires</key>
						<string>11/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8JZ4ML6Z8H</string>
						<key>name</key>
						<string>Seguros Universales, S.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8JZ4ML6Z8H.com.universales.cheques</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8JZ4ML6Z8H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ab12378-da28-462c-86a2-dc4cc37c4402</string>
				<key>dateExpires</key>
				<string>11/04/24</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.universales.cheques</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8JZ4ML6Z8H</string>
				<key>name</key>
				<string>Seguros Universales, S.A.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
